html {
  height:100%;
}
body {
  background-color: #d3d3d3;
  height: 100%;
  overflow:hidden;
  display:grid;
  grid-template-columns:100%;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navigation"
                       "content";
}

.navigation {
  grid-area: navigation;
}

h1 {
  font-size: 32px;
  font-family: "Sans-Serif", Arial;

}
#center {
  display: flex;
  text-align: center;
  grid-area: content;
  overflow:auto;
}
.button-1 {
    border: none;
    padding: 15px 25px;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #b23681;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button-2 {
    border: none;
    padding: 3px 12px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #d67e24;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
}

    button: active {
      border: 2px solid blue;
    }
    button:focus {
      border: 2px solid blue;
    }
.navbar {
  border: none;
padding:15px 25px;
text-align:right;
text-align: center;
background-color:#1da2e6;
color:#ffffff;
font-family:"Sans-Serif", Arial;
font-size: 31px;
  }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.side-bar {
    background: #39b771;
    color: #ddd;
    padding: 1em;

    position: absolute;
    right: -520px;
    top: 200px;

    transition: 300ms;
  }

  .side-bar:hover {
    right: 0;
  }

  .tab {
    padding: 0.5em;
    position: absolute;
    left: -60px;
    background-color: #39b771;
    transform: rotate(270deg);
    width:100px;
    text-align:center;
    top:30px;
}

img {
width:75px;
top: 0;
}

#authors {
  position:absolute;
  top:120px;
  color: #000;
  font-size:16px;
  width:100%;
}

#authors div {
  text-align:center;
}

.authorName {
  color:#0e5ab9 !important;
  cursor:pointer;
}

.authorName:hover {
  color:#03a003 !important;
}

#ashleyInfo {
  margin:auto;
  width:80%;
  display:none;
}

#timothyInfo {
  margin:auto;
  width:80%;
  display:none;
}

.projectName {
  font-size:22px;
}

h3 {
  margin-bottom:1em;
}

#gameStart {
  margin:auto;
}

@media (max-width: 440px) {
  img {
    width:50px;
  }
  .navbar {
    font-size: 27px;
  }
  #authors {
    top:100px;
  }
}

@media (max-width: 360px) {
  .navbar {
    font-size: 23px;
  }
}
