html {
  height:100%;
}
body {
  background-color: #d3d3d3;
  height: 100%;
}

h1 {
  font-size: 32px;
  font-family: "Sans-Serif,"Arial;

}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.button-1 {
    border: none;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #b23681;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

    button: active {
      border: 2px solid blue;
    }
    button:focus {
      border: 2px solid blue;
    }
.navbar {
  border: none;
padding:15px 25px;
text-align:right;
text-align: center;
background-color:#1da2e6;
color:#ffffff;
font-family:"Sans-Serif," Arial;
font-size: 25px;
  }

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
.side-bar {
    background: #444;
    color: #ddd;
    padding: 1em;

    position: absolute;
    right: -150px;
    top: 0;

    transition: 300ms;
  }

  .side-bar:hover {
    right: 0;
  }

  .tab {
    border: 1px solid;
    padding: 1em;
    position: absolute;
    left: -60px;
    background-color: #444;
  }
