html {
  height:100%;
}

body {
  font-family:"Lato", sans-serif;
  height:100%;
}

.front-center {
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  height:100%;
}

.footer {
  margin-top:-45px;
  text-align:center;
}

.progress-bar {
  background-color:rgba(0,0,0,0);
  margin-bottom:-60px;
  height:60px;

}

#gauge {
background-color:#dadada;
  margin:0 auto;
  width:97%;
  height:28px;
  border-radius:10px;
  box-shadow:0 1px 4px 0 rgba(0,0,0,.2)
}

#active-gauge {
  background-color:#1da2e6;
  height:28px;
  width:0%;
    border-radius:10px;
  transition: width 0.2s ease-out;
}

#math-problems tr {
  opacity:0.25;
}

#math-problems tr:nth-child(1) {
  transform: scale(0.7);
}
#math-problems tr:nth-child(2) {
  transform: scale(0.9);
}
#math-problems tr:nth-child(3) {
  opacity:1;
  transform: scale(1);
  transition: transform 0.1s;
}

#math-problems tr:nth-child(4) {
  transform: scale(0.9);
}
#math-problems tr:nth-child(5) {
  transform: scale(0.7);
}

#math-problems td {
  font-size:55px;
  padding-bottom:0.15em;
  text-align:center;
}

@media (max-width: 575px) {
  #math-problems td {
    font-size:42px;
    padding-bottom:0.02em;
  }
}

#math-problems td:first-child {
  text-align: center;
  width:5em;

}

#math-answer {
  text-align:center;
  width:2em;
}

#gauge-fraction {

}

#problem-area {
  display: flex;
align-items: center;
justify-content: center;
}

#score-meter {
  text-align:center;
  margin-top:60px;
  font-size:38px;
  transition: transform 0.1s;
}

#timer-area-outside {
  text-align:center;
  margin-top:60px;
  font-size:38px;
}

#timer-area {
  border-radius:15px;
  transition:background-color 0.5s;
  padding: 0 10px;
}

#home-area-outside {
  text-align:center;
  margin-top:60px;
  font-size:38px;
}

#encouragement {
  text-align:center;
  padding-bottom:140px;
  font-size:32px;
  position:absolute;
  z-index:2;
  opacity:0;
}

#encouragement-words {
  background-color:#d0ebfb;
  border-radius:12px;
  padding: 5px 15px;
  transition: 0.5s;
}

#home-area {
  position:relative;
  z-index:2;
  cursor:pointer;
  opacity:0.25;
}

#home-area:hover {
  opacity:1;
}

@media (max-width: 575px) {

  #score-meter {
    font-size:24px;
  }

  #timer-area-outside {
    font-size:24px;
  }

  #home-area-outside {
    font-size:24px;
  }

  #encouragement {
    font-size:20px;
    padding-bottom:120px;
  }
}

#math-problems {
  margin-top:5%;
  text-align:center;
  display:none;
}

#non-math-area {
  text-align:center;
}

#gameBG {
  background-color:#fafafa;
  transition: 0.2s;
}

#percentageBar {
  position:absolute;
  left:50%;
  transform: translateX(-50%);
}

.button-again {
    border: none;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #b23681;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    button:active {
      border: 2px solid blue;
    }
    button:focus {
      border: 2px solid blue;
    }

}

#home-button {
  height:32px;
}

.congrats {
  font-size:45px;
}

@media (max-width: 575px) {
  #home-button {
    height:20px;
  }
}

@media (max-height: 500px) {
  .congrats{
      font-size:35px;

  }
  .button-again {
      padding: 10px 18px;
      font-size: 21px;
      border-radius: 10px;
      box-shadow: 0 6px #999;

  }
}

input {
  margin:0;
  padding:1px;
  background-color:#fff;
  color:#000;
  border:1px solid #a9a9a9;
}
