html {
  height:100%;
}

body {
  height:100%;
}

.front-center {
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  height:100%;
}

.footer {
  margin-top:-45px;
  text-align:center;
}

.progress-bar {
  background-color:rgba(0,0,0,0);
  margin-bottom:-30px;
  height:30px;

}

#gauge {
background-color:#ddd;
  margin:0 auto;
  width:97%;
  height:10px;
}

#active-gauge {
  background-color:#000;
  height:10px;
  width:0%;
  transition: width 0.1s;
}

#math-problems tr {
  opacity:0.2;
}

#math-problems tr:nth-child(3) {
  opacity:1;
}

#math-problems td {
  font-size:55px;
  padding-bottom:0.25em;
  text-align:center;
}

#math-problems td:first-child {
  text-align: center;
  width:5em;

}

#math-answer {
  text-align:center;
  width:2em;
}

#gauge-fraction {

}

#problem-area {
  display: flex;
align-items: center;
justify-content: center;
}

#score-meter {
  text-align:center;
  margin-top:40px;
  font-size:28px;
}

#timer-area {
  text-align:center;
  margin-top:40px;
  font-size:28px;
}

#math-problems {
  text-align:center;
  display:none;
}

#non-math-area {
  text-align:center;
}
